# Bytecode / cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente virtual
venv/
.env/

# Arquivos de build do PyInstaller
build/
dist/
*.spec

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db